@import "./styles/base.css";
@import "./styles/header.css";

.main {
  margin-top: 80px;
}

.banner__photo {
  width: 100%;
}

.banner__title {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
