@import "./styles/helpers.css";
@import "./styles/base.css";
@import "./styles/header.css";
@import "./styles/banner.css";
@import "./styles/specifications.css";
@import "./styles/similar-devices.css";
