.specifications__title {
  padding-top: 80px;
}
.specifications__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.specifications__list--item {
  font-size: 1.5rem;
  position: relative;
  color: black;
  background-image: linear-gradient(to right, #67c2ee, #ff6f08);
  border: 4px solid rgb(48, 48, 48);
  border-radius: 25px;
  padding: 40px 50px;
  margin: 25px;
  width: 35%;
}

.item-title {
  display: inline-block;
  margin-top: 5px;
  font-size: smaller;
}
